@media screen and (max-width: 1150px){
    .projects-container{
        grid-template-columns: repeat(2,1fr);
        max-width: min(750px ,100%);
        padding: 4rem 4rem;
    }
}
@media screen and (max-width: 750px){
    .projects-container{
        grid-template-columns: 1fr;
        /* max-width: min(750px ,100%); */
        padding: 4rem 1rem;
    }
}

@media screen and (min-width: 750px){
    .project-wrapper:hover{
        transform: scale(1.1)
    }
    
    .projects-container:has(.project-wrapper:hover) .project-wrapper:not(:hover){
        filter: blur(0.5rem);
        transform: scale(0.9)
    }
}
